services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - neo4j
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=neo4j1234

  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474" # Web UI
      - "7687:7687" # Bolt protocol
    environment:
      - NEO4J_AUTH=neo4j/neo4j1234
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
